body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: white;
}

.logo {
  width: 50px;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: black;
}

.hero {
  height: 80vh;
  background: #111;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}

.btn {
  background: white;
  color: black;
  padding: 10px 20px;
  width: fit-content;
  text-decoration: none;
}

.section {
  padding: 60px 40px;
}

.dark {
  background: #f2f2f2;
}

footer {
  background: #000;
  color: white;
  text-align: center;
  padding: 20px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero {
    height: auto;
  }
}
